.disk {
	position:absolute;
	width:500px; 
	height:500px;
	margin:auto;
	padding:10px;
	background-color:black;
	color:white;
	text-align:center;
	display:block;
	border:1px solid #444444;
}
.disks {
	position:absolute;
	/* margin:0px auto; */
	padding:10px;
	background-color:black;
	color:white;
	/* text-align:center; */
	display:block;
	border:2px solid #444444;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
}

#thehole {
	display:block;
	position:absolute;
	margin:185px; 
	background-color: #555555;
	border: 8px double white;
	width: 110px;
	height: 110px;
	-moz-border-radius: 110px;
	-webkit-border-radius: 110px;
	border-radius: 110px;
}
#thehole2 {
	display:block;
	position:absolute;
	margin:224px; 
	background-color: #111111;
	border: 0px;
	width: 42px;
	height: 150px;
	-moz-border-radius: 64px;
	-webkit-border-radius: 64px;
	border-radius: 64px;
}
	
#thehole3 {
	display:block;
	position:absolute;
	margin-top:160px;
	margin-left:310px; 
	background-color: #111111;
	border: 0px;
	width: 20px;
	height: 20px;
	-moz-border-radius: 20px;
	-webkit-border-radius: 20px;
	border-radius: 20px;
}
	
#thehole4 {
	display:block;
	position:absolute;
	background-color: #555555;
	height:20px;
	width:13px;
	right:-3px;
	margin-top:0px;
}
	
.disklabel, .disklabel2 {
	height:80px;
	margin:15px;
	padding:5px;
	background-color:white;
	text-align:center;
	color:black;
}
.disklabel2 {
	background-image: url('https://digital-talk.github.io/logo.png');
	background-repeat: no-repeat; 
	background-size: 100%;
	text-align:center;
	color:black; 
}
#choose {
	display:block;
	z-index:1000;
	border:5px dotted white;
	background-color:black;
	color:white;
	font-size:1.25em;
	text-align:center;
	padding:10px;
}
.name {
	font-weight:bold;color:blue;
}